NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE=
NEXT_PUBLIC_SUPABASE_PUBLIC_BUCKET=
NEXT_PUBLIC_SUPABASE_PRIVATE_BUCKET=
PDF_SERVICE_URL=
PDF_SERVICE_SECRET=
RATE_LIMIT_REDIS_URL=
UPSTASH_REDIS_REST_URL=
ALLOW_IN_MEMORY_RATE_LIMIT=
FILES_CREATE_PERMISSION=
FILES_DELETE_PERMISSION=
FILES_READ_PERMISSION=
RESERVED_ROLE_SLUGS=
REQUIRE_WORKFLOW_IDEMPOTENCY_KEY=
PDF_ALLOWED_RESOURCE_HOSTS=
PDF_DISABLE_CHROMIUM_SANDBOX=
PDF_ENABLE_JAVASCRIPT=
PDF_MAX_BODY_SIZE=
PDF_MAX_HTML_BYTES=
PDF_JOB_TIMEOUT_MS=
PDF_MAX_CONCURRENT_JOBS=
